/* 

    BODY 
    - GLOBAL 


*/







/* 
    REGION STYLES 
    ../components/home/region.js 

*/

/* Alignment */
.region_column_adjustment{
    margin-top:0px;
    overflow-x:scroll; 
    
}


.title_adjustment{
    margin-top:10px;
    margin-bottom: 10px;
}





/* 

    INDEX LAYOUT STYLES
    ../components/home/index_layout.js 

*/


/* Alignment */
.margin_section{
    margin-left:auto;
    margin-right:auto;
}


/* Region Title Padding */ 
.region-title-padding{
    margin-bottom: 1em;
    margin-left: 0em;
}

/* Screen */
@media screen and (max-width:2024px){
    .desktop-max-section-width{
        width: auto !important;
        margin-left: auto;
        margin-right: auto;
    }

}

/* Large Screen Phones  */
@media screen and (max-width:768px){
    .auto-mobile-width{
        width: auto !important;
    }
}









/* 

    ADS LAYOUT STYLES
    ../components/home/ad_section.js 

*/

/* Alignment */ 
.ad_placement{
    margin-top:4.3em !important;
    margin-left:2em !important;
     
}

/* Size */

.ad_size{
    height:600px; 
    width:500px;
    
}


.inner_ad_size{
    height:400px;
    width:400px;
    margin-left:auto;
    margin-right:auto;
}

  
/* Screen */
@media screen and (max-width:768px){
	.hide_mobile{
		display: none !important;
    }

}







/* 

    TILE LAYOUT STYLES
    ../components/home/tile.js 

*/


/* Alignment */ 
.image_placement{
    margin-left:auto;
    margin-right:auto;
}




/* Typography */ 

.playlist_name{
    font-size: 12pt;
}

.playlist_subtitles{
    font-size: 9pt;
}






/* 
    NAVBAR 
    components/navbar.js    
*/ 

.exit_icon{
    margin-left: 90%;
}

.small_height{
    height:25px;
}


.hide_error_message{
    display: none !important;
}

.error_message_font_color{
    color: #FA3B37;
}





/* 

    VERIFY USER EMAIL 
    components/schoolEmail/verified

*/ 

/* Screen */
@media screen and (max-width:1408px){
	.make_verify_box{
        height: 300px;
        width: 400px;
    }
}



/* 

========== SCHOOL PAGE ==================
*/


/* Screen */
@media screen and (max-width:667px){
	.small-screen-width-recently-added{
        max-width:350px;
        min-width: 350px;
    }

    .small-screen-margin-recently-added{
        margin-right: 2em;
    }
}












/* 
    PLAYLIST PAGES

*/ 

.is-hidden{
    display: none !important;
}
  
.deskto-size{
    height: "35em";
    width:"auto";
}


.sub_div { 
    position: absolute; 
    bottom: 0px; 
} 

/* Large Screen Phones  */
@media screen and (max-width:768px){

    /* adjust screen sizes to iphone sizes  */
    .iphone-button-width{
        margin-top: 2em;
        width: 400px;
    }


    .iphone-height{
        height:auto;
    }

    /* Font */
    .mobile-title{
        font-size: 24px !important;
    }

    .mobile-subtitle{
        font-size: 16px !important;
    }




	.hide_mobile{
		display: none;
	}

	.change_player_size_mobile{
		width: 350px;
	}

	.padding_mobile_button{
		margin-top:3em;
	}

	.detail_top_margin{
		margin-top: 1em !important;
	}

	.margin_section{
		margin-left:1em;
	}
}


/* Smaller Screen Phones  */
@media screen and (max-width:568px){
    .smaller-screen-mobile{
        width: 300px !important;
    }


    
}


/* Tablets */

@media screen and (max-width:1280px){
    
    .button-tablet-spacing{
        margin-top: auto;
    }

    .desktop-margin{
        margin-top: 75%;
    }
}



/* Large Desktop Screens */
@media screen and (max-width:2042px){
    
    .button-large-desktop-screen-spacing{
        margin-top: 32em;
    }


    .desktop-margin{
        margin-top: 87%;
    }
}

@media screen and (max-width:1280px){
    
    .button-large-desktop-screen-spacing{
        margin-top: 25em;
    }

}


/* 


========== SEARCH ============


*/

@media screen and (max-width:896px){
    
    .mobile-margin-space{
        margin-top: 11em !important;

    }
    
}








/* 
    Created AddOns 

*/ 


/* Solid border divider */
hr.solid {
    border-top: 1px solid #bbb;
    margin-top: 0em;
  }



/* Hide overflow text for search playlists */
.hideOverFlowText{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}



.fix-last-margin-issue{
    margin-bottom: auto !important;
}