
/* 
    REGION STYLES 
    ../components/home/region.js 

*/

/* Alignment */
.region_column_adjustment{
    margin-top:0px;
    overflow-x:scroll; 
    
}


.title_adjustment{
    margin-top:10px;
    margin-bottom: 10px;
}








/* 

    INDEX LAYOUT STYLES
    ../components/home/index_layout.js 

*/


/* Alignment */
.margin_section{
    margin-left:1em;
    margin-right:1em;
}








/* 

    ADS LAYOUT STYLES
    ../components/home/ad_section.js 

*/

/* Alignment */ 
.ad_placement{
    margin-top:4.3em !important;
    margin-left:2em !important;
     
}

/* Size */

.ad_size{
    height:600px; 
    width:500px;
    
}


.inner_ad_size{
    height:400px;
    width:400px;
    margin-left:auto;
    margin-right:auto;
}

  
/* Screen */
@media screen and (max-width:768px){
	.hide_mobile{
		display: none !important;
    }

}







/* 

    TILE LAYOUT STYLES
    ../components/home/tile.js 

*/


/* Alignment */ 
.image_placement{
    margin-left:auto;
    margin-right:auto;
}




/* Typography */ 

.playlist_name{
    font-size: 12pt;
}

.playlist_subtitles{
    font-size: 9pt;
}






/* 
    NAVBAR 
    components/navbar.js    
*/ 

.exit_icon{
    margin-left: 90%;
}

.small_height{
    height:25px;
}


.hide_error_message{
    display: none !important;
}

.error_message_font_color{
    color: #FA3B37;
}





/* 

    VERIFY USER EMAIL 
    components/schoolEmail/verified

*/ 

/* Screen */
@media screen and (max-width:1408px){
	.make_verify_box{
        height: 300px;
        width: 400px;
    }
}






/* 
    PLAYLIST PAGES

*/ 

@media screen and (max-width:768px){
	.hide_mobile{
		display: none;
	}

	.change_player_size_mobile{
		width: 350px;
	}

	.padding_mobile_button{
		margin-top:3em;
	}

	.detail_top_margin{
		margin-top: 1em !important;
	}

	.margin_section{
		margin-left:1em;
	}
}


